<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AAD_TenantId" value="1af78158-a0d2-4287-afe9-02272cded0b6" />
    <add key="AAD_ApplicationId" value="6082ba0f-6a5e-4a91-9dd2-f5839e99caed" />
    <add key="AAD_ApplicationSecret" value="W72ikFC4r/J8HhDnW7YGRLzk15EtKjTigoA0KJr/R/g=" />
    <add key="SubscriptionId" value="318e1b85-66c8-401b-bb24-2ede0d8778b0" />
    <add key="ExistingStorageAccountContainerWriteAccess" value="https://gvbackup.blob.core.windows.net/test?sv=2015-04-05&amp;sr=c&amp;si=test&amp;sig=eTTZo1bxkjV6cQCQvwsmpyiAKfGHsY9C9IWKYcV0K44%3D&amp;se=2017-02-23T09%3A33%3A55Z" />
    <!--ExistingStorageAccountContainerWriteAccess : you can specify a storage account container url (with SAS token, but no port) to export IoTDevices-->

    <add key="AuthorizationEndpoint" value="https://login.microsoftonline.com" />
    <add key="ManagementApi" value="https://management.azure.com" />
    
    <!--add key="AuthorizationEndpoint" value="https://login.partner.microsoftonline.cn"/-->
    <!--<add key="ManagementApi" value="management.core.chinacloudapi.cn"/>-->
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
