<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AAD_TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47"/>
    <add key="AAD_ApplicationId" value="184e7d6e-fdfd-4ec9-b997-bae65256ab8e"/>
    <add key="AAD_ApplicationSecret" value="lV+pEYGKh3xjKURfCP7/QdVnayLF5lBBzdUHN9h44bI="/>
    <add key="SubscriptionId" value="e8ba1bf4-36be-4762-b71b-b6c652d9cfbc"/>
    <add key="ExistingStorageAccountContainerWriteAccess" value="https://gvbackup.blob.core.windows.net/test?sv=2015-04-05&amp;sr=c&amp;si=test&amp;sig=eTTZo1bxkjV6cQCQvwsmpyiAKfGHsY9C9IWKYcV0K44%3D&amp;se=2017-02-23T09%3A33%3A55Z"/>
	<!--ExistingStorageAccountContainerWriteAccess : you can specify a storage account container url (with SAS token, but no port) to export IoTDevices-->
 
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
