<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AAD_TenantId" value="1af78158-a0d2-4287-afe9-02272cded0b6"/>
    <add key="AAD_ApplicationId" value="22973c0e-7792-4313-8d3b-3910a3c67498"/>
    <add key="AAD_ApplicationSecret" value="AOyplubQuKPQWoIn4fvQmIlf+lOCjkWQALR2Z5srkOY="/>
    <add key="DestinationSubscriptionId" value="318e1b85-66c8-401b-bb24-2ede0d8778b0"/>
    <add key="ResourceGroupName" value="318e1b85-66c8-401b-bb24-2ede0d8778b0"/>
    <add key="ExistingStorageAccountContainerWriteAccess" value="https://gvbackup.blob.core.windows.net/test?sv=2015-04-05&amp;sr=c&amp;si=test&amp;sig=eTTZo1bxkjV6cQCQvwsmpyiAKfGHsY9C9IWKYcV0K44%3D&amp;se=2017-02-23T09%3A33%3A55Z"/>
    <!--ExistingStorageAccountContainerWriteAccess : you can specify a storage account container url (with SAS token, but no port) to export IoTDevices-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
