<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AAD_TenantId" value="1af78158-XXXXXXXXXXXXXXXXXXXXXXXXXXXX-02272cded0b6" />
    <add key="AAD_ApplicationId" value="6082ba0f-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-f5839e99caed" />
    <add key="AAD_ApplicationSecret" value="W72ikFC4r/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXgoA0KJr/R/g=" />
    <add key="SourceSubscriptionId" value="318e1b85-XXXXXXXXXXXXXXXXXXXXXXXXXXXX-2ede0d8778b0" />
    <add key="DestinationSubscriptionId" value="318e1b85-XXXXXXXXXXXXXXXXXXXXXXXXXXX-2ede0d8778b0" />
    <add key="ResourceGroupName" value=""/>
    <add key="ManagementApi" value="https://management.azure.com" />
    <add key="SourceResourceGroupName" value="gvtest123"/>
    <add key="DestinationResourceGroupName" value="gvtest123"/>
    <add key="AuthorizationEndpoint" value="https://login.microsoftonline.com" />
    <add key="DefaultResourcePassword" value="Sup3rP@ssw0rd"/>
    
    <add key="ExistingStorageAccountContainerWriteAccess" value="https://gvbackup.blob.core.windows.net/test?sv=2015-04-05&amp;sr=c&amp;si=test&amp;sig=XXXXXXXXXXXXXXXXXXXXXXXX44%3D&amp;se=2017-02-23T09%3A33%3A55Z"/>
    <!--ExistingStorageAccountContainerWriteAccess : you can specify a storage account container url (with SAS token, but no port) to export IoTDevices-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
