<div id="main" data-context="{m=Eval,v=new AzInfoApi.Selection()}">
    <h1>Explore Azure Management Apis</h1>
    <br />
    <div><div class="col-md-1">ApiVersion</div><div class="col-md-2">DataCenter</div><div class="col-md-2" style="margin:0px">Provider/ResourceType</div><div class="col-md-3">Operation</div></div><br />

    <div id="versionsList" class="col-md-1 list-group" style="overflow-y:auto;max-height:600px;padding:0px" data-source="api/versions" data-template="views/byVersion/VersionItem.html">

    </div>

    <div id="datacentersList" class="col-md-10" style="padding:0px">

    </div>

</div>

