
<div style="margin: 30px">
   <h2> <img style="vertical-align:middle; line-height:100px; height:200px"  src="images/code.jpg" />
        <span style=" vertical-align:middle;line-height:100px; height:80px;color:black">    
           Rest Api for Azure Api Information
        </span>
    </h2>
    <br />
    Get insights about Azure Rest Apis. Explore them to find available features for every version on every datacenters.
    <br/>
    <iframe class="col-md-10" style="height:600px" src="swagger/ui/index.html#!/AzureInfoApi"/>
</div>
