
<div style="margin: 30px">
   <h2> <img style="vertical-align:middle; line-height:100px; height:200px"  src="images/code.jpg" />
        <span style=" vertical-align:middle;line-height:100px; height:80px;color:black">    
           Azure Rest Api Information
        </span>
    </h2>
    <br />
    Get insights about Azure Rest Apis. Explore them to find available features for every version on every datacenters.
    <br/>
    <br />
    This tool uses two datasources and crosses them to provide you more information about what Azure provides : Azure providers rest Api and Azure swagger definitions.
    <br />
    Azure providers information can be retreive through an authenticated call to : <br/>
    https://management.azure.com/subscriptions/{subscriptionid}/providers?api-version=2016-09-01 <br />
    <br />
    Azure Swagger definitions can be found <a href="https://github.com/Azure/azure-rest-api-specs/">here</a><br />
    Explore our github and reuse this work : <a href="https://github.com/gvinsot/AzExport">github</a><br />
    <br />
    <br />    
</div>
