
<div style="margin: 30px">
   <h2> <img style="vertical-align:middle; line-height:100px; height:200px"  src="images/code.jpg" />
        <span style=" vertical-align:middle;line-height:100px; height:80px;color:black">    
           Azure Rest Api Information
        </span>
    </h2>
    <br />
    Get insights about Azure Rest Apis. Explore them to find available features for every version on every datacenters.
    <br/>
    <br />
    This tool uses two datasources and crosses them to provide you more information about what Azure provides : Azure providers rest Api and Azure swagger definitions.
    <br />
    Azure providers information can be retreive through an authenticated call to : <br/>
    https://management.azure.com/subscriptions/{subscriptionid}/providers?api-version=2016-09-01 <br />
    <br />
    Azure Swagger definitions can be found <a href="https://github.com/Azure/azure-rest-api-specs/">here</a><br />
    Another official tool on same topic : <a href="https://azure.github.io/projects/apis/#/">azure github.io</a><br />
    And of course the most known :<a href="https://resources.azure.com/">resources.azure.com</a><br />
    <br />
    You can explore my github and reuse this work : <a href="https://github.com/gvinsot/AzExport">azinfo github</a><br />
    <br />
    <div style="background-color:lightgray;border-radius:5px; height:110px; padding:10px" class="col-md-10">

        <div class="col-md-2">
            <span style="vertical-align:middle;line-height:100px; height:80px;color:black;font-size:x-large">
                About me</span>
            </div>
        <div class="col-md-6" style="vertical-align:middle;height:100px;">
            <span>
                <br />
                Gildas VINSOT<br />
                Premier Field Engineer <br/>
                Microsoft France
                </span>
        </div>
        <div class="col-md-3" >
            <img src="images/GildasPhoto.jpg" />
        </div>
    </div>
</div>
