<div id="main" data-context="{m=Eval,v=new AzInfoApi.Selection()}">
    <h1>Explore Azure Management Apis</h1>
    <br />
    <div class="col-sm-1 col-xs-1">Datacenters</div><div class="col-sm-3 col-xs-3">Providers/Resource Types</div><div class="col-sm-1 col-xs-1" style="margin:0px">ApiVersions</div><div class="col-sm-3 col-xs-3">Operations</div><br />

<div>

    <div id="dcList" class="col-sm-1 col-xs-1 list-group"  style="overflow-y:auto;max-height:600px;padding:0px" data-source="api/datacenters" data-template="views/byDC/DcItem.html">

    </div>

    <div id="providersList"  class="col-sm-10 col-xs-10" style="padding:0px">
       
    </div>

</div>

</div>